<!-- 35,36 -->
<!-- <ul>
  <li ng-repeat="country in countries">{{country.name}}</li>
</ul> -->
<!-- 37, 38, 39, 40, 41, 42, 43 -->
<!-- <ul>
  <li ng-repeat="country in countries">
    <a href="#/{{country.name}}">{{country.name}}</a>
  </li>
</ul> -->

<!-- 44 -->
<!-- <ul>
  <li ng-repeat="country in countries">
    <a href="#/{{country.name | encodeURI}}">{{country.name}}</a>
  </li>
</ul> -->

<!-- 45 -->
<!-- <ul>
  <li ng-repeat="country in countries">
    <a href="#/{{country.id}}">{{country.name}}</a>
  </li>
</ul> -->

<!-- 46, 47, 48, 49, 50 -->
<ul>
  <li ng-repeat="country in countries" country="country">
  </li>
</ul>
